/** GLOBAL UNNEDED  **/

* {
    box-sizing: border-box;
    /** outline: 1px dashed lightgrey; **/
}

body, html {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
